body {
    font-family: Arial;
}

/* Header using BLOCK */
.header {
    background: #d3d3d3;
    padding: 15px;
    text-align: center;
    border: 1px solid black;
    display: block;
}

.header .title {
    color: red;
    font-weight: bold;
}

/* Navigation Container */
.nav-container {
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
}

/* Top menu – INLINE-BLOCK */
.top-menu a {
    display: inline-block;
    padding: 10px;
    background: #c6e2ff;
    margin: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid #89a;
}

/* Bottom menu – FLOAT */
.bottom-menu a {
    float: left;
    padding: 10px;
    background: #baf5b0;
    margin: 5px;
    text-decoration: none;
    color: black;
    border: 1px solid #78a478;
}

/* CLEAR float */
.clear {
    clear: both;
}
